.cart_page_landing_hero {
    background-color: #fff;
    /* display: flex; */
}

.cart_section {
    width: 100%;
    display: block;
    clear: both;
    
    margin-bottom: 40px;
}

.cart_section .cart_section_header {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: #666;
    color: #fff;
    width: 100%;
    height: 50px;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: auto;
}

.cart_wrapper {
    width: 700px;
    margin-left: 180px;
    margin-top: 110px;

    /* background-color: yellow; */
}

.cart_wrapper .cart_wrapper_head {
    margin-left: 500px;
    font-size: 17px;
}

.cart_wrapper .cart_wrapper_head .quantity {
    float: left;

}

.cart_wrapper .cart_wrapper_head .total {
    float: left;
    margin-left: 50px;
}

hr {
    width: 700px;
    background-color: rgb(61, 42, 42);
    height: 1px;
    display: hidden;
    margin-top: 20px;
}

.cart_wrapper .cart_prod {
    width: 700px;
    height: 120px;
    background-color: var(--black);
    margin-top: 20px;
}

.cart_wrapper .cart_prod .cart_prod_img {
    height: 120px;
    width: 120px;
    float: left;
}

.cart_wrapper .cart_prod .name_and_remove_div {
    float: left;
    margin-left: 20px;
    color: white;
    width: 250px;
}

.cart_wrapper .cart_prod .name_and_remove_div .cart_prod_name {
    font-size: 20px;
    margin-top: 20px;
}

.cart_wrapper .cart_prod .name_and_remove_div .cart_prod_size {
    font-size: 20px;
}

.cart_wrapper .cart_prod .name_and_remove_div .remove {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.cart_wrapper .cart_prod .cart_prod_quantity {
    color: white;
    font-size: 20px;
    float: left;
    margin-top: 40px;
    margin-left: 100px;
    text-align: center;
}

.cart_wrapper .cart_prod .cart_prod_quantity .item_quantity {
    margin-left: 10px;
    margin-right: 10px;
}

.cart_wrapper .cart_prod .cart_prod_quantity span:hover {
    letter-spacing: .1rem;
}

.cart_wrapper .cart_prod .cart_prod_price {
    color: white;
    font-size: 20px;
    float: left;
    margin-top: 40px;
    margin-left: 60px;
}

.cart_wrapper .subtotal_div {
    font-size: 17px;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 480px;
}

.cart_wrapper .subtotal_div .subtotal {
    float: left;
}

.cart_wrapper .subtotal_div .subtotal_price {
    float: left;
    margin-left: 80px;
}

.cart_wrapper .shipping_note {
    font-size: 15px;
    clear: both;
    margin-top: 70px;
    margin-left: 350px;
}

.cart_wrapper .update_checkout_button {
    margin-top: 30px;
    margin-left: 360px;
}

.cart_wrapper .update_checkout_button .btn {
    width: 150px;
    height: 60px;
    font-size: 17px;
    font-weight: 900;
    /* padding: 12px 20px; */
} 

.cart_wrapper .update_checkout_button .btn:hover {
    letter-spacing: .1rem;
}

.cart_wrapper .update_checkout_button .update_cart {
    background-color: black;
    color: #fff;
}

.cart_wrapper .update_checkout_button .checkout_button {
    background-color: var(--black);
    color: #fff;
    margin-left: 20px;
}

.cart_wrapper .paypal_btn {
    margin-left: 330px;
    margin-top: 40px;
}


.cart_wrapper .paypal_btn .paypal_link {
    background-color: rgb(237, 239, 240);
    color: var(--black);
    width: 350px;
    height: 70px;
    font-size: 17px;
    font-weight: 900;
}

.cart_wrapper .paypal_btn .paypal_link:hover {
    letter-spacing: .1rem;
}