/* Footer Section */

.footer_section {
    width: 100%;
    display: inline-block;
    background-color: var(--black);
    color: #fff;
    margin-top: 0px;
    text-decoration: none;
    padding-top: 150px;
    padding-bottom: 140px;
}

.footer_section .first_footer_card,.second_footer_card,.third_footer_card,.fourth_footer_card {
    float: left;
    margin-left: 190px;
    font-size: 15px;
}

.footer_section .first_footer_card a{
    display: block;
    margin-bottom: 20px;
    color: #fff;
}

.footer_section .second_footer_card a{
    display: block;
    margin-bottom: 20px;
    color: #fff;
}

.footer_section .third_footer_card .socials{
    display: block;
    margin-bottom: 20px;
}

.footer_section .third_section .socials .social_icon,.social_text {
    float: left;
}


@media screen and (min-width: 1450px) {
    .footer_section .first_footer_card,.second_footer_card,.third_footer_card,.fourth_footer_card {
        float: left;
        margin-left: 210px;
        font-size: 15px;
    }
}